*.pyc
*.log
*.wav
data/**/*.wav
data/*.json
.obsidian
docs/issues.txt
*.html
*.md
*.txt
text8
experiments/wrdvecs.bin
experiments/HowTo.ipynb
experiments/bart_summary.py
experiments/test_nmf.py
experiments/test_text_rank.py
experiments/summary_and_tile.py
